body {
    background-color:lightblue;
    margin: 0, 0, 0, 0;
}

ul {
    list-style-position: inside;
    text-align: center;
    list-style:none;
}

li::first-letter{
    font-size:x-large;
    font-weight:bold;
    
}




